body{
  background-color:  #184D47;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
}

.wrapper-box {
  margin: auto;
}
.container-footer {
  padding: 1% 30%;
}

h2 {
font-family: 'DM Serif Display', serif;
font-size: 3rem;
line-height: 1.5;
font-weight: 900;
}

h3 {
font-family: 'Montserrat Alternates', sans-serif;
font-size: 2rem;
line-height: 1.5;
font-weight: 900;
}

h4 {
font-family: 'Montserrat, sans-serif';
font-size: 1.5rem;
line-height: 1.5;
font-weight: 900;
}

#Introduction, #skills, #Education, #Experience, #Portfolio, #Contact {
  background-color: #558776;
}


.container-fluid {
  padding: 1.5% 3%;
}

.heading{
  padding: 1% 3%;
}

.container{
  padding: 1.5% 3%;
}

.container-ex {
  padding: 0.5% 3%;
}
